<div class="wrapper">
  <h1 id="title">aficionado</h1>

  <div id="login">

  </div>
  <div class="imageDisplay">
    
  </div>
</div>

<div class="inputWrap">
  <form class="button-size">
    <input id="username" type="text" name="name" placeholder="Username"></input>
    <button type="submit" class="btn btn-secondary submit">Submit</button>
  </form>
</div>

<div class="acknowledgement">Developed using the Rijksmuseum API.  All art is from the Rijksmuseum Collection</div>

<script type="text/javascript" src="/javascript/script.js"></script>