<div class="container wrapper col-xs-10 col-xs-offset-1">
  <div class="row">
    <h1 id="title">aficionado</h1>
  </div>

  <div class="row">
    <div id="login"></div>
    
  </div>
    <div class="row">
      <div id="imageDisplay" class="col-xs-10 align-bottom"></div>
    </div>
</div>

<div class="inputWrap">
  <form class="buttonWrap">
    <input id="username" type="text" name="name" placeholder="Username"></input>
    <input id="password" type="text" name="password" placeholder="Password"></input>    
    <button type="submit" class="submit">Submit</button>
  </form>
</div>

<canvas id="canvas"></canvas>

<div class="acknowledgement">Developed using the Rijksmuseum API.  All art is from the Rijksmuseum Collection</div>

<script type="text/javascript" src="/javascript/script.js"></script>
<script src="https://code.responsivevoice.org/responsivevoice.js"></script>
<script type="text/javascript" src="/javascript/canvas.js"></script>
<script type="text/javascript" src="/javascript/long.js"></script>
