html, body {
    margin: 0px;
    overflow: hidden;
    background-color: black;
    color: lightgray;
}
.wrapper {
    max-width: 1200px;
    position: relative;
    background-color: black;
    margin: 0 auto;
}
.button-size {
     position: absolute;
     top: 40px;
     right: 40px;
}
#title {
    position: absolute;
    font-family: 'Satisfy', cursive;
    font-size: 60px;
    top: 20px;
    left: 40px;
}
.users {
    text-align: center;
}
#username {
    background-color: black;
    color: darkgray;
    border: 0px;
    border-bottom: 1px;
    border-color: darkgrey;
}
.submit {
    text-align: center;
    background-color: darkgray;
}
#login {
    position: absolute;
    top: 30px;
    right: 40px;
}