html, body {
    margin: 0px;
    overflow: hidden;
    background-color: black;
    color: lightgray;
}
.wrapper {
    max-width: 1200px;
    position: relative;
    background-color: black;
    margin: 0 auto;
}
#title {
    position: absolute;
    font-family: 'Satisfy', cursive;
    font-size: 60px;
    top: 20px;
    left: 40px;
}
.users {
    text-align: center;
}
.inputWrap {
    position: absolute;
    height: 400px;
    width: 500px;
    border: 1px solid darkgrey;
    outline: 1px solid darkgrey;
    outline-offset: -10px;
}
.button-size {
    position: absolute;
    top: 60%;
    left: 20%;
}
#username {
    background-color: black;
    color: darkgray;
    border: 0px;
    border-bottom: 1px;
    border-color: darkgrey;
    text-align: center;
}
.submit {
    text-align: center;
    background-color: black;
}
#logWrap {
    width: 220px;
}
#login {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 28px;
    font-weight: 7;
    line-height: 50px;
    text-align: right;
}
#avatar {
    float: right;
    width: 50px;
    height: 50px;
}
input[type=text]:focus{
    outline: 0.25px solid darkgray;    
}
.artDisplay {
    max-width: 1200px;
    max-height: 100%;
}
.acknowledgement {
    position: absolute;
    bottom: 280px;
    left: -275px;
    color: #303030;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}